*{   
    margin: 0;
    box-sizing: border-box;
}
body{
   
}
/* navbar starts here */
.topnav{
    height: 80px;
    margin-bottom: 10px;
    
}
.topnav ul{
    float: right;
    margin-right: 120px;
    margin-top: 20px;
        
}
ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
}
ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: #222831;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
/* navbar ends here */

/* about me section starts here */
.about-me{
  

}
.profile{
        width: 40%;
        float: left;
        padding-left: 2%;  
        
        
}
.profile1{
   width: 40%;
   float: left;
   margin-left: 7%;
   margin-top: 10%;
   

}
.profile1 h1{
    font-size: 4rem;
    font-family: 'Titillium Web', sans-serif;
    

    
}
.profile1 p{
    font-size: 1rem;
    color: #222831;
    line-height: 25px;
    
}

.profile img{
        width: 100%;
        
        

}
.profile h1{
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
    
}
.profile p{
    font-size: 1rem;
    color: #222831;
    line-height: 20px;
    
}
section{
       border: 1px red solid;
       height: 550px;
}
button{
    
    
    margin-top: 20px;
    background: linear-gradient(180deg,#2c5d91,#d34e85);
    border-radius: 10%;
    padding: 8px 10px;
    
   
    
}
button a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    
    color: #f6ecf0;
    font-weight: bolder;
   
   
}





/* about me section ends here */